---
version: 2.1 

jobs:
  create_infrastructure:
    docker:
      - image: amazon/aws-cli
    steps:
      - checkout
      - run:
          name: create backend infra 
          command: |
            aws cloudformation deploy \
            --template-file template.yml \
            --stack-name my-stack
      - run:
          name: get public IP of EC2 instance created
          command: |
            echo "[all]" > inventory
            aws cloudformation describe-stacks --stack-name my-stack --query "Stacks[0].Outputs[0].OutputValue" --output text >> inventory
      - run: yum install -y tar gzip
      - persist_to_workspace:
          root: ./
          paths:
            - ./

  configure_infrastructure:
    docker:
    - image: python:3.7-alpine3.11
    steps:
      - add_ssh_keys:
          fingerprints: [4b:f1:26:7f:1d:41:42:74:00:af:56:b0:10:e8:b0:e8]
      - run: apk add tar gzip
      - attach_workspace:
          at: ./
      - run:
          name: Install dependencies ie ansible
          command: | 
            apk add --update ansible 
      - run: 
          name: Configure server using ansible playbook
          command: ANSIBLE_HOST_KEY_CHECKING=False ansible-playbook -i inventory main.yml
    
  # smoke_test:
  #   docker:
  #   - image: alpine:latest
  #   steps: 
  #     - run: 
  #         name: simple curl smoke test
  #         command: |
  #           if curl 

        
            
workflows:
  mainWorkflow:
    jobs:
      - create_infrastructure
      - configure_infrastructure:
          requires: 
            - create_infrastructure

