---
version: 2.1 

jobs:
  create_infrastructure:
    docker:
      - image: amazon/aws-cli
    steps:
      - checkout
      - run:
          name: create backend infra 
          command: |
            aws cloudformation deploy \
            --template-file template.yml \
            --stack-name my-stack

  configure_infrastructure:
    docker:
    - image: python:3.7-alpine3.11
    steps:
      - checkout
      - add_ssh_keys:
          fingerprints: [25:06:3c:89:20:7a:8a:ba:59:8a:64:37:f2:5f:34:3a]
      - run:
          name: Install dependencies ie ansible
          command: | 
            apk add --update ansible 
      - run: 
          name: Configure server using ansible playbook
          command: ansible-playbook -i inventory main.yml
    
  # smoke_test:
  #   docker:
  #   - image: alpine:latest
  #   steps: 
  #     - run: 
  #         name: simple curl smoke test
  #         command: |
  #           if curl 

        
            
workflows:
  mainWorkflow:
    jobs:
      - configure_infrastructure

